<suite name="LearningAPISuite" verbose="1" parallel="tests" thread-count="4">
    <test name="CalendarTests">
        <classes>
            <class name="test.TestCalendar"/>
        </classes>
    </test>
    <test name="InputTests">
        <classes>
            <class name="test.TestInput"/>
        </classes>
    </test>
    <test name="TableTests">
        <classes>
            <class name="test.TestTable"/>
        </classes>
    </test>
    <test name="FormTests">
        <classes>
            <class name="test.TestForm"/>
        </classes>
    </test>
</suite>